In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from textblob import TextBlob

In [2]:
# Load the dataset
df = pd.read_csv('final_merged_with_reviews_data.csv')

In [3]:
print(df.head())
print(df.info())
print(df.describe())

             title                    id  audienceScore  tomatoMeter rating  \
0       love, lies             love_lies           43.0          NaN    NaN
1       love, lies             love_lies           43.0          NaN    NaN
2  dinosaur island  dinosaur_island_2015           23.0          NaN    NaN
3           adrift           adrift_2018           65.0         69.0  PG-13
4           adrift           adrift_2018           65.0         69.0  PG-13

                                      ratingContents releaseDateTheaters  \
0                                                NaN                 NaN
1                                                NaN                 NaN
2                                                NaN                 NaN
3  ['Injury Images', 'Brief Drug Use', 'Thematic ...          2018-06-01
4  ['Injury Images', 'Brief Drug Use', 'Thematic ...          2018-06-01

  releaseDateStreaming  runtimeMinutes                      genre  ...  \
0                  NaN           120.0                      Drama  ...
1                  NaN           120.0                      Drama  ...
2           2015-05-12            79.0         Adventure, Fantasy  ...
3           2018-08-21           120.0  Adventure, Drama, Romance  ...
4           2018-08-21           120.0  Adventure, Drama, Romance  ...

    reviewId creationDate       criticName isTopCritic originalScore  \
0    2739073   2020-10-31      James Mudge       False           4/5
1    2333658   2016-06-15       Diva Velez       False         3.5/5
2    2261561   2015-05-12  Renee Schonfeld       False           2/5
3  102694850   2022-05-29      Josh Parham       False          6/10
4  102654799   2022-02-11    Cory Woodroof       False           NaN

  reviewState      publicatioName  \
0       fresh    easternKicks.com
1       fresh   TheDivaReview.com
2      rotten  Common Sense Media
3       fresh   Next Best Picture
4       fresh            615 Film

                                          reviewText scoreSentiment  \
0  Though let down by its routine love triangle n...            NaN
1  While not perfect, Love, Lies is a worthy disc...            NaN
2  Uneven time-travel adventure has peril, mild v...            NaN
3  This is nowhere near the level of other great ...            NaN
4  Adrift somehow survives the late reveal, and t...            NaN

                                           reviewUrl
0     https://www.easternkicks.com/reviews/love-lies
1  http://thedivareview.com/Love_Lies_Movie_Revie...
2  https://www.commonsensemedia.org/movie-reviews...
3        https://www.nextbestpicture.com/adrift.html
4  https://615film.wordpress.com/2018/06/07/the-p...

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2316775 entries, 0 to 2316774
Data columns (total 26 columns):
 #   Column                Dtype
---  ------                -----
 0   title                 object
 1   id                    object
 2   audienceScore         float64
 3   tomatoMeter           float64
 4   rating                object
 5   ratingContents        object
 6   releaseDateTheaters   object
 7   releaseDateStreaming  object
 8   runtimeMinutes        float64
 9   genre                 object
 10  originalLanguage      object
 11  director              object
 12  writer                object
 13  boxOffice             object
 14  distributor           object
 15  soundMix              object
 16  reviewId              int64
 17  creationDate          object
 18  criticName            object
 19  isTopCritic           bool
 20  originalScore         object
 21  reviewState           object
 22  publicatioName        object
 23  reviewText            object
 24  scoreSentiment        float64
 25  reviewUrl             object
dtypes: bool(1), float64(4), int64(1), object(20)
memory usage: 444.1+ MB
None
       audienceScore   tomatoMeter  runtimeMinutes      reviewId  \
count   2.221043e+06  2.221448e+06    2.280943e+06  2.316775e+06
mean    6.483362e+01  6.656878e+01    1.074119e+02  9.286009e+06
std     1.979578e+01  2.622704e+01    2.144574e+01  2.615141e+07
min     0.000000e+00  0.000000e+00    2.000000e+00  1.000000e+00
25%     5.000000e+01  4.800000e+01    9.400000e+01  1.638100e+06
50%     6.800000e+01  7.300000e+01    1.050000e+02  2.218997e+06
75%     8.100000e+01  8.900000e+01    1.180000e+02  2.600629e+06
max     1.000000e+02  1.000000e+02    1.013000e+03  1.027962e+08

       scoreSentiment
count             0.0
mean              NaN
std               NaN
min               NaN
25%               NaN
50%               NaN
75%               NaN
max               NaN

In [4]:
df.drop(columns=['scoreSentiment'], inplace=True)
df.drop(columns=['boxOffice'], inplace=True)
df.drop(columns=['reviewUrl'], inplace=True)
df.drop(columns=['originalScore'], inplace=True)
df.drop(columns=['soundMix'], inplace=True)

In [5]:
# Drop duplicates
df.drop_duplicates(subset=['title', 'id'], inplace=True)

In [6]:
# Fill missing values in numerical columns with their mean
numerical_columns = ['audienceScore', 'tomatoMeter', 'runtimeMinutes']
for column in numerical_columns:
    df[column].fillna(df[column].mean(), inplace=True)

# Verify that missing values have been filled
missing_values = df.isnull().sum()
print("Missing values after filling:")
print(missing_values)

Missing values after filling:
title                       0
id                          0
audienceScore               0
tomatoMeter                 0
rating                  57845
ratingContents          57845
releaseDateTheaters     44119
releaseDateStreaming    21426
runtimeMinutes              0
genre                    6036
originalLanguage         6970
director                  823
writer                  22419
distributor             48619
reviewId                    0
creationDate                0
criticName                  0
isTopCritic                 0
reviewState                 0
publicatioName              0
reviewText               3772
dtype: int64

/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/3367622735.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [7]:
# Fill missing categorical values with 'Unknown'
df['rating'].fillna('Unknown', inplace=True)
df['ratingContents'].fillna('Unknown', inplace=True)
df['genre'].fillna('Unknown', inplace=True)
df['director'].fillna('Unknown', inplace=True)
df['writer'].fillna('Unknown', inplace=True)
df['distributor'].fillna('Unknown', inplace=True)
df['originalLanguage'].fillna('unknown', inplace=True)
df['reviewText'].fillna('', inplace=True)

/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/1288091273.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna('Unknown', inplace=True)
/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/1288091273.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ratingContents'].fillna('Unknown', inplace=True)
/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/1288091273.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genre'].fillna('Unknown', inplace=True)
/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/1288091273.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna('Unknown', inplace=True)
/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/1288091273.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['writer'].fillna('Unknown', inplace=True)
/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/1288091273.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['distributor'].fillna('Unknown', inplace=True)
/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/1288091273.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['originalLanguage'].fillna('unknown', inplace=True)
/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/1288091273.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['reviewText'].fillna('', inplace=True)

In [8]:
# Fill missing values in date columns with a placeholder date or median
df['releaseDateTheaters'].fillna(pd.to_datetime('1900-01-01'), inplace=True)
df['releaseDateStreaming'].fillna(pd.to_datetime('1900-01-01'), inplace=True)

/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/4141160410.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['releaseDateTheaters'].fillna(pd.to_datetime('1900-01-01'), inplace=True)
/var/folders/c3/sr79zb3j1nx_lsk2ps2tbhl80000gn/T/ipykernel_15662/4141160410.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['releaseDateStreaming'].fillna(pd.to_datetime('1900-01-01'), inplace=True)

In [9]:
# Convert dates to datetime format
df['releaseDateTheaters'] = pd.to_datetime(df['releaseDateTheaters'], errors='coerce')
df['releaseDateStreaming'] = pd.to_datetime(df['releaseDateStreaming'], errors='coerce')
df['creationDate'] = pd.to_datetime(df['creationDate'], errors='coerce')

In [10]:
# Strip whitespace and convert text to lowercase for text columns
text_columns = ['title', 'id', 'genre', 'originalLanguage', 'director', 'writer', 'publicatioName', 'reviewText']
for col in text_columns:
    df[col] = df[col].str.lower().str.strip()

In [11]:
# Extract year from releaseDateTheaters
df['releaseYear'] = pd.to_datetime(df['releaseDateTheaters']).dt.year

In [12]:
# Define a function to compute sentiment polarity
def get_sentiment(review):
    try:
        # Compute sentiment polarity using TextBlob
        blob = TextBlob(review)
        return blob.sentiment.polarity
    except:
        return None

# Apply the sentiment analysis function to the reviewText column
df['sentiment_score'] = df['reviewText'].apply(get_sentiment)

In [13]:
# Check final dataframe information
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 69077 entries, 0 to 2316757
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 69077 non-null  object
 1   id                    69077 non-null  object
 2   audienceScore         69077 non-null  float64
 3   tomatoMeter           69077 non-null  float64
 4   rating                69077 non-null  object
 5   ratingContents        69077 non-null  object
 6   releaseDateTheaters   69077 non-null  datetime64[ns]
 7   releaseDateStreaming  69077 non-null  datetime64[ns]
 8   runtimeMinutes        69077 non-null  float64
 9   genre                 69077 non-null  object
 10  originalLanguage      69077 non-null  object
 11  director              69077 non-null  object
 12  writer                69077 non-null  object
 13  distributor           69077 non-null  object
 14  reviewId              69077 non-null  int64
 15  creationDate          69077 non-null  datetime64[ns]
 16  criticName            69077 non-null  object
 17  isTopCritic           69077 non-null  bool
 18  reviewState           69077 non-null  object
 19  publicatioName        69077 non-null  object
 20  reviewText            69077 non-null  object
 21  releaseYear           69077 non-null  int32
 22  sentiment_score       69077 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(4), int32(1), int64(1), object(13)
memory usage: 11.9+ MB
None
                     title                    id  audienceScore  tomatoMeter  \
0               love, lies             love_lies      43.000000     65.76381
2          dinosaur island  dinosaur_island_2015      23.000000     65.76381
3                   adrift           adrift_2018      65.000000     69.00000
43            born to kill  1035316-born_to_kill      74.000000     83.00000
49  the garden murder case    garden_murder_case      58.349096     65.76381

     rating                                     ratingContents  \
0   Unknown                                            Unknown
2   Unknown                                            Unknown
3     PG-13  ['Injury Images', 'Brief Drug Use', 'Thematic ...
43  Unknown                                            Unknown
49  Unknown                                            Unknown

   releaseDateTheaters releaseDateStreaming  runtimeMinutes  \
0           1900-01-01           1900-01-01           120.0
2           1900-01-01           2015-05-12            79.0
3           2018-06-01           2018-08-21           120.0
43          1947-04-30           2016-05-23            92.0
49          1900-01-01           2016-10-20            61.0

                        genre  ... distributor   reviewId creationDate  \
0                       drama  ...     Unknown    2739073   2020-10-31
2          adventure, fantasy  ...     Unknown    2261561   2015-05-12
3   adventure, drama, romance  ...   STX Films  102694850   2022-05-29
43               crime, drama  ...     Unknown    2710947   2020-08-05
49         mystery & thriller  ...     Unknown    2132383   2013-03-10

         criticName  isTopCritic reviewState       publicatioName  \
0       James Mudge        False       fresh     easternkicks.com
2   Renee Schonfeld        False      rotten   common sense media
3       Josh Parham        False       fresh    next best picture
43      Mike Massie        False       fresh  gone with the twins
49    Paul Chambers        False      rotten       movie chambers

                                           reviewText releaseYear  \
0   though let down by its routine love triangle n...        1900
2   uneven time-travel adventure has peril, mild v...        1900
3   this is nowhere near the level of other great ...        2018
43  one of the most acerbic of all films noir, boa...        1947
49  another philo vance entry with familiar mgm co...        1900

   sentiment_score
0         0.348889
2         0.066667
3         0.229167
43       -0.125000
49       -0.062500

[5 rows x 23 columns]

In [14]:
# Save the DataFrame to a CSV file
df.to_csv('cleaned_data.csv', index=False)

print("DataFrame saved to 'cleaned_data.csv'.")

DataFrame saved to 'cleaned_data.csv'.